
:root{
    --color-primary:#6f4e37;
    --color-bg: #fdf8f3;
    --color-text: #2b2b2b;
}
body {
    margin:0;
    font-family: system-ui, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-primary);
    color: white;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: rgba(255,255, 255, 0.7);
}
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    text-decoration: none;     /* يشيل الخط اللي تحت */
    padding: 0.5rem 1rem;
    border-radius: 6px;        /* زوايا دائرية */
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.menu-grid {
    display: grid;
    gap: 1rem;
    
}
.menu-grid img {
    width: 100%;          /* عرض البطاقة */
    height: 200px;        /* ارتفاع موحد لكل الصور */
    object-fit: cover;    /* يقص الصورة بدل ما يمطّها */
}
@media (min-width: 600px) {
    .menu-grid { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1024px) {
    .menu-grid { grid-template-columns: repeat(4, 1fr); }
}

a, button {
     transition: 0.3s; 
}

a:hover, button:hover { 
    opacity: 0.8; 
}

main {
    padding: 0 1rem;
    max-width: 1100px;
    margin: 0 auto;
}
.menu-grid article {                            /* كل بطاقة */
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    color: var(--color-primary);
}
.menu-grid h3, .menu-grid p, .menu-grid button {
    margin: 0.5rem 0 0.5rem 0.2rem;
    padding: 0.5rem;
}
.menu-grid article:hover {
    transform: translateY(-5px);

}

/* Hot / Cold tags */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 0.7rem;
}
.tag {
    font-size: 0.8rem;
    padding: 0.2rem 0.7rem;
    border-radius: 999px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
}